<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>ListName()</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-item>
            <ion-label position="floating">New items</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label>Task To Do</ion-label>
            <ion-button>See All</ion-button>
        </ion-list-header>

        <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Eat today</ion-label>
        </ion-item>
    </ion-list>

</ion-content>